
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all  0.3s ease-in-out;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    font-family: 'Roboto', sans-serif;
    
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  

  